@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

.App {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
  user-select: none;
  transition: .4s;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

ul {
  margin: 0;
  padding: 0;
}

.App button,
.App a,
.App li {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  height: auto;
  margin: 0;
  padding: 10px;
  border: none;
  font-size: 16px;
  line-height: 1;
}

.App .block {
  position: fixed;
  z-index: 0;
  background:no-repeat center / contain;
}

.App.day .block:nth-child(4n + 1) {
  background-image: url(./assets/img/huella1.png);
}

.App.day .block:nth-child(4n + 2) {
  background-image: url(./assets/img/huella2.png);
}

.App.day .block:nth-child(4n + 3) {
  background-image: url(./assets/img/huella3.png);
}

.App.day .block:nth-child(4n + 4) {
  background-image: url(./assets/img/huella4.png);
}

.App.night .block:nth-child(4n + 1) {
  background-image: url(./assets/img/huella1.png);
}

.App.night .block:nth-child(4n + 2) {
  background-image: url(./assets/img/huella2.png);
}

.App.night .block:nth-child(4n + 3) {
  background-image: url(./assets/img/huella3.png);
}

.App.night .block:nth-child(4n + 4) {
  background-image: url(./assets/img/huella4.png);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App.day {
  background-color: white;
  color: #303030;
}

.App.night {
  background-color: #303030;
  color: white;
}

.App .Mode span{
  z-index: 2;
  width: auto;  
  border: none;
  border-radius: 100%;
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 70px;
  margin: 0;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.App.day .Mode span{
  background-color: #303030;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  color: white;
  width: 26px;
  height: 26px;
}

.App.night .Mode span{
  background-color: white;
  box-shadow: 0 0 20px rgba(250,250,250,.2);
  color: black;
  width: 25px;
  height: 25px;
}

.App.night .Mode span:last-child {
  display: none;
}

.App.day .Mode span:first-child {
  display: none;
}