.Home {
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.Home section {
    margin: 0;
    padding: 50px 0 0 0 ;
    width: 100%;
    height: calc(100vh - 50px);
}/* 

.App.day .Home section {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.App.night .Home section {
    box-shadow: 0px 0px 10px rgba(250,250,250,0.2);
} */

.Home section:first-child {
    display: flex;
    align-items: center;
}

.Home section:first-child h1 {
    min-width: 50%;
    font-family: 'Bungee', cursive;
    font-size: 150px;
    line-height: 1;
}

.Home section:first-child h1 span {
    font-size: 100px;
}

.Home section:first-child div {
    min-width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 150px;
    font-size: 16px;
}

.App.day .Home section:first-child div {
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.App.night .Home section:first-child div {
    background: #303030;
    box-shadow: 0 0 10px rgba(250,250,250,.2);
}