.Card {
    width: 147px;
    height: 300px;
    position: relative;
    padding: 10px;
    margin-bottom: 20px;
    letter-spacing: .8px;
}

.Card img {
    position: absolute;
    top: -20px;
    left: 19px;
    width: 90%;
    height: 40%;
    object-fit: cover;
    border-radius: 5px;
}

.Card a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.App.day .Card a {
    background: white;
    color: #202020;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.App.day .Card .selected {
    background: #303030;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.App.night .Card a {
    background: #303030;
    color: white;
    box-shadow: 0 0 10px rgba(250, 250, 250, .2);
}

.App.night .Card .selected {
    background: white;
    color: #202020;
    box-shadow: 0 0 10px rgba(250, 250, 250, .2);
}

.Card a  {
    height: 100%;
}

.Card a .name {
    font-size: 16px;
    margin-top: 105px;
}

.Card a h3 {
    font-size: 14px;
    margin: 8px;
}

.Card a h4 {
    font-size: 12px;
    margin: 0;
}

.Card button {
    position: absolute;
    top: 80px;
    right: 0px;
    background: none;
    margin: 0px;
    padding: 5px;
    z-index: 2;
}

.Card button span:last-child {
    color:#212121;
    text-shadow: none;
    display: none;
    font-size: 16px;
}

.Card button span {
    font-size: 20px;
}

.Card button:hover span {
    display: flex;
}

.Card button:hover {
    display: flex;
    align-items: flex-end;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #202020;
    gap: 5px;
    border-radius: 5px;
}

.Card .favA:hover {
    right: -58px;
}

.Card .favR:hover {
    right: -32px;
}

.Card span:first-child {
  color:white;
  text-shadow: -1.1px -1.1px 0 #000, 1.1px -1.1px 0 #000, -1.1px 1.1px 0 #000, 1.1px 1.1px 0 #000;
}

.Card .edit {
    top: 30px;
    right: 0;
}

.Card .edit:hover {
    right: -31px;
}

.Card .delete {
    top: -15px;
    right: 0;
}

.Card .delete:hover {
    right: -49px;
}