.Dogs {
    display: flex;
}

.Dogs h2 {
    width: 500px;
    margin: 30px auto;
    border-radius: 5px;
}

.Dogs #titleFav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 60px;
}

.App.day .Dogs h2 {
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.App.night .Dogs h2 {
    background: #303030;
    box-shadow: 0 0 10px rgba(250,250,250,.2);
}

.Dogs .paginate button {
    width: 32px;
    height: 32px;
    margin: 0 5px;
    padding: 0;
    border-radius: 100%; 
}

.App.day .Dogs .paginate button {
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.App.day .Dogs .paginate .selected {
    background: #303030;
    color: white;
}

.App.night .Dogs .paginate button {
    background: #303030;
    box-shadow: 0 0 10px rgba(250,250,250,.4);
}

.App.night .Dogs .paginate .selected {
    background: white;
    color: #303030;
}

.Dogs ul {
    width: 100%;
    display: flex;
}
