.Welcome {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Welcome > *:not(h1) {
    position: relative;
    z-index: 1;
    margin: 10px;
    width: 500px;
    border: none;
    border-radius: 5px;
    font-size: .8em;
    cursor: pointer;
    padding: 15px 0;
}

.App.day .Welcome > *:not(h1) {
    background-color: rgb(240, 240, 240);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.App.night .Welcome > *:not(h1) {
    background-color: #404040;
    box-shadow: 0 0 10px rgba(250,250,250,.3);
}

.Welcome h1 {
    margin: 0;
    z-index: 1;
    font-size: 140px;
    font-family: 'Bungee', cursive;
    line-height: 1;
}

.App.day .Welcome h1 {
    color: #303030;
    text-shadow: 0 0 10px rgba(0,0,0,.8);
}

.App.night .Welcome h1 {
    color: white;
    text-shadow: 0 0 10px rgba(250,250,250,.8);
}

.Welcome #wel {
    font-size: 1.2em;
    text-transform: uppercase;
}

.App.day .Welcome #wel {
    background-color: #303030;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    color: white;
}

.App.night .Welcome #wel {
    background-color: rgb(240, 240, 240);
    box-shadow: 0 0 10px rgba(250,250,250,.8);
    color: #202020;
}
